.flex-item {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
}
.flex {
  display: flex;
  padding: 1em;
}
.green {
  border: 6px solid green;
  background: lightgreen;
  flex-direction: column;
}
.blue {
  background: lightblue;
  padding: 16px;
  border: 6px solid blue;
  gap: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.pink {
  background: peachpuff;
  border: 6px solid rgb(235, 129, 146);
  height: 100px;
  padding: 4px;
}
.red {
  background: rgb(240, 193, 193);
  border: 6px solid red;
}
.invisible-green-left,
.invisible-green-right {
  background: lightgreen;
}
.invisible-green-right {
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}
.big {
  height: 300px;
  margin-left: -15px;
}
.cran-1,
.cran-2 {
  height: 140px;
  margin-left: 20px;
}
.cranberry,
.cran-2 {
  margin-bottom: -10px;
}
.cran-1 {
  margin-top: -9px;
  margin-bottom: 8px;
}
.cranberry {
  background: palevioletred;
  border: 6px solid magenta;
}
.purple {
  background: rgb(163, 129, 163);
  border: 6px solid purple;
}

/* https://cdn.statically.io/gh/TheOdinProject/curriculum/495704c6eb6bf33bc927534f231533a82b27b2ac/html_css/v2/foundations/flexbox/imgs/05.png */
