.flex-item {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
}
.flex {
  display: flex;
  padding: 0.5em;
}
.green {
  border: solid green;
  background: lightgreen;
  flex-direction: column;
}
.blue {
  background: lightblue;
  padding: 16px;
  border: 4px solid blue;
  gap: 8px;
}
.pink {
  background: peachpuff;
  border: 4px solid rgb(235, 129, 146);
  height: 100px;
  padding: 4px;
}
.red {
  background: rgb(240, 193, 193);
  border: 6px solid red;
}
.invisible-green-left,
.invisible-green-right {
  background: lightgreen;
}
.invisible-green-right {
  gap: 8px;
  flex-direction: column;
}
.big {
  height: 300px;
}
.little {
  height: 140px;
}
.cranberry {
  background: palevioletred;
  border: solid magenta;
}
.purple {
  background: rgb(163, 129, 163);
  border: 4px solid purple;
}

/* https://cdn.statically.io/gh/TheOdinProject/curriculum/495704c6eb6bf33bc927534f231533a82b27b2ac/html_css/v2/foundations/flexbox/imgs/05.png */
.flex-item {
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
  }
.flex {
	display: flex;
	padding: 0.5em;
}
.item {
	padding: 0.5em;
}
.green {
	border: solid green;
	background: lightgreen;
	flex-direction: column;
}
.blue {
	background: lightblue;
	padding: 16px;
	border: 4px solid blue;
	gap: 8px;
}
.pink {
	background: peachpuff;
	border: 4px solid rgb(235, 129, 146);
	height: 100px;
	padding: 4px;
}
.red {
	background: rgb(240, 193, 193);
	border: 6px solid red;
}
.invisible-green {
	background: lightgreen;
}
.big {
	height: 300px;
	width: 50%;
}
.little {
	height: 120px;
	width: 40%;	
}
.cranberry {
	background: palevioletred;
	border: solid magenta;
}
.purple {
	background: rgb(163, 129, 163);
	border: 4px solid purple;
}

/* https://cdn.statically.io/gh/TheOdinProject/curriculum/495704c6eb6bf33bc927534f231533a82b27b2ac/html_css/v2/foundations/flexbox/imgs/05.png */
